/* logo  */
/* .logo a span{
    width: 500px !important;
    height: 100px !important;
} */

/* navbar */
/* .main_navbar ul{
    display: flex;
} */

.header {
  padding: 35px 0;
}

.main_navbar ul li {
  margin-inline-end: 25px;
}

.main_navbar ul li a {
  font: normal normal normal 18px/0px "bahij_Helvetica_roman";
  color: var(--main-color);
}

/* lang */
.lang a{
  display: flex;
  align-items: center;
}
.lang svg {
  color: #2f3769;
  width: 28px;
  height: 28px;
}
.lang span {
  padding-inline-start: 6px;
  color: #2f3769;
}




/* ---------- Menu dropdown --------------
.main_navbar .menu_dropdown {
  background: var(--main-color);
  height: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  top: 30px;
  width: 100%;
  padding: 10px 15px 0 0;
}
.menu_dropdown li a{color: #FFF !important}
.menu_dropdown li{margin-bottom: 10px;}
.main_navbar .drop {
  position: relative;
}
.main_navbar .drop:hover ul {
  height: 100px;
  opacity: 1;
  transform: translateY(0);
} */

.menu svg {
  color: #303868;
  width: 8px;
  margin-inline-start: 4px;
}
/* Start menu dropdown */

.drop{
  animation: rotateMenu 400ms ease-in-out forwards;
  transform-origin: top center;
  position: relative;
  perspective: 1000px;
  z-index: 100;
  display: block;
}
.drop:hover{
  cursor: pointer;
}

.menu_dropdown{
  position: absolute;
  top: 22px;
  left: -28px;
  width: 229px;
  perspective: 1000px;
  z-index: -1;
  /* animatin */
  animation: rotateMenu 400ms ease-in-out forwards;
  /* animation: rotateY 300ms ease-in-out forwards; */
  transform-origin: top center;
}
.menu_dropdown li{
  display: none;
  padding: 10px 20px;
  opacity: 0;
  padding: 12px;
  background: #fff 0 0 no-repeat padding-box;
  box-shadow: 0 5px 15px rgb(48 56 104 / 5%);
  border: 1px solid #f0f0f0;  
  transition: all .4 ease-in-out;
}
.menu_dropdown li a{
  transition: all .4 ease-in-out;
}
.menu_dropdown li:hover{
  background-color:#2f3769;
  color:#FFF;
}
.menu_dropdown li:hover a{color: #FFF;}


/*  Menu as a whole animated */

.drop:hover .menu_dropdown {
  display: block;
}
.menu_dropdown{
  display: none;
}
.menu_dropdown li {
  display: block;
  opacity: 1;
}


/* animation */
@keyframes rotateY {
  0% {
    transform: rotateY(90deg);
  }
  80% {
    transform: rotateY(-10deg);
  }
  100% {
    transform: rotateY(0);
  }
}


@keyframes rotateMenu {
  0% {
    transform: rotateX(-90deg)
  }
  70% {
    transform: rotateX(20deg) 
  }
  100% {
    transform: rotateX(0deg) 
  }
}

/* End menu dropdown */




/* lang */
.lang span {
  font: normal normal normal 14px/0px "roboto_regular";
}

/* Left side */
.btn_special {
  font: normal normal bold 18px/30px "bahij_Helvetica_bold";
  color: var(--main-color);
  padding: 10px 20px;
  border-color: var(--main-color);
  border: 0;
  margin-inline-start: 8px;
  background: #ffd983 0% 0% no-repeat padding-box;
  box-shadow: 0px 12px 32px #ffc64552;
  border-radius: 30px;
}

.btn_log {
  color: var(--main-color);
  background: transparent;
  padding: 6px 36px;
  border-color: var(--main-color);
  border: 2px solid;
  margin-inline-end: 16px;
  margin-inline-start: 16px;
  box-shadow: none;
}







/* mobile_mode */

.mobile_mode{display: none;}

.mobile_list_nav{
  flex-direction: column;
  align-items: flex-end;
  background-color: #d8b361;
  right: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  z-index: 999;
}
.mobile_list_nav li{ 
  margin-inline-end: 0 !important;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #DDD;
  padding: 14px 0;

}
/* .mobile_list_nav li a{color: #FFF !important} */


.logo_wraper{
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
}

/* mobile icon */
.close_icon{
  width: 20px;
  color: #FFF;
  cursor: pointer;
}

.menu_toggle{
  width: 20px;
  margin-right: auto;
  color: var(--main-color);
  cursor: pointer;
  display: none;
}






/*------------ mobile ---------------*/
@media (max-width: 1199.9px) {
  .main_navbar ul li {
    margin-inline-end: 16px;
  }
  .btn_log {
    color: var(--main-color);
    background: transparent;
    padding: 6px 18px;
    border-color: var(--main-color);
    border: 2px solid;
    -webkit-margin-end: 16px;
    margin-inline-end: 9px;
    -webkit-margin-start: 16px;
    margin-inline-start: 9px;
    box-shadow: none;
}

.menu_toggle{display: block;}

}

@media (max-width: 991.9px) {
  .desktop_mode{display: none;}
  /* .mobile_mode .mobile_list_nav{display: none !important;} */
  .mobile_mode{display: block;}
}



/* HEADER 2 */
@media (max-width: 767.9px) {
  .header_2 .custom_row{
    display: flex;
    justify-content: space-between;
    margin: 0;
    flex-wrap: unset;
}
.header_2 .custom_row>*{
         flex-shrink: 1; 
    width: 100%; 
     max-width: 100%;
}
  }