/*======================= Banner ============================*/
.banner{
  position: relative;
  padding: 70px 0;
  min-height: 665px;
}



.banner::before{
  content: '';
  position: absolute;
  left: 0;
  top: 18%;
  width: 169px;
  height: 141px;
  background-image: url(/assets/banner_shape.svg);
}
.banner::after{
  content: '';
  position: absolute;
  left: 26px;
  bottom: 18%;
  width: 72.12px;
  height: 13.2px;
  background-image: url(/assets/zigzag_line.svg);
}

.banner_2shape{position: relative;}
.banner_2shape::before{
  content: '';
  position: absolute;
  right: -33px;
  bottom: -47px;
  width: 72px;
  height: 108px;
  background-image: url(/assets/2shape.svg);
}
.banner_2shape::after{
  content: '';
  position: absolute;
  left: 25%;
  bottom: -100px;
  width: 67px;
  height: 68px;
  background-image: url(/assets/flower.svg);
}

.banner_txt h2 {
  font: normal normal bold 42px/67px "bahij_Helvetica_bold";
  color: var(--main-color);;
  line-height: 1.5em;
  margin-bottom: 30px;
  text-decoration: underline;
  text-decoration-color: #FDF2CC;
  text-decoration-skip-ink: none;
  text-decoration-style: solid;
  text-decoration-thickness: 12px;

}

.banner_txt p {
  font: normal normal normal 32px/51px "bahij_Helvetica_roman";
  color: #2E386BB3;
  margin-bottom: 35px;
}



/* .banner_txt .special_btn{
    margin: 0;
} */

/*================ our programs =================*/

.our_programs {
  position: relative;
  min-height: 687px;
  background: #f8fbff 0% 0% no-repeat padding-box;
}

.our_programs::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  /* width: 820px; */
  width: 58%;
  min-height: 600px;
  background-image: url(/assets/Rectangle.svg);
  background-size: cover;
}
.our_programs *{
  z-index: 9;
  position: relative;
}
.our_programs .items {
  position: relative;
  grid-template-columns: repeat(2, minmax(260px, 352px)); 
  grid-template-rows: repeat(2, 120px);
  grid-row-gap: 1em;
  grid-column-gap: 1em;

}


.our_programs .items .item {
  background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 8px 32px #FDBE0014;
border: 1px solid #3038681F;
border-radius: 10px;
}

.our_programs .items .item h4 {
  font: normal normal normal 24px/39px "bahij_Helvetica_roman";
  color: var(--main-color);;
}

.our_programs .items .item .icon {
  margin-inline-start: 30px;
  margin-inline-end: 30px;
}
.our_programs .info h2 {
  font: normal normal bold 42px/67px "bahij_Helvetica_bold";
  color: var(--main-color);;
}
.our_programs .info p {
  font: normal normal normal 24px/38px "bahij_Helvetica_roman";
  color: #2E386BB3;
  margin-bottom: 32px;
  margin-top: 20px;
}

@media (max-width: 991.9px) {

  .our_programs::after{
    width: 43%;
  }

  .our_programs .items {
    grid-template-columns: none;
    grid-template-rows: none;
    grid-row-gap: 1em;
    grid-column-gap: unset;
    padding: 0 50px;
  }
  .our_programs .items .item{
    padding: 13px 16px;
  }
  .our_programs .items .item .icon {
    margin-inline-start: 20px;
    margin-inline-end: 20px;
  }
}

@media (max-width: 767.9px) {
  .our_programs .items {
    padding: 0;
    margin-top: 2rem;
    grid-template-columns: repeat(2, minmax(250px, 352px));
    grid-template-rows: none;
    grid-row-gap: 1em;
    grid-column-gap: 1em;

  } 
  .our_programs::after{
    min-height: 310px;
    width: 72%;
  }

}

@media (max-width: 575.9px) {
  .our_programs .items {
    grid-template-columns: none;
    grid-template-rows: none;
    grid-row-gap: 1em;
    grid-column-gap: unset;
  }

}

/* ==================  Achivements ===================== */
.achivements {
  background: #80aeff 0% 0% no-repeat padding-box;
  padding: 50px 0;
  display: flex;
  align-items: center;
}
.achivements .items {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 120px);
  text-align: center;
  align-items: center;
  color: #ffffff;
}
.achivements .items .item{
  position: relative;
}
.achivements .items .item:not(:last-child)::after {
  /* border-left: 1px solid #FFFFFF52; */
  content: '';
  height: 54px;
  width: 1px;
  position: absolute;
  left: 0;
  top: 50%;
  background-color: #FFFFFF52;
  transform: translateY(-50%);
}
.achivements .items .item span {
  font: normal normal 900 36px/48px "roboto_black";
  margin-bottom: 10px;
}
.achivements .items h4 {
  font: normal normal normal 24px/39px "bahij_Helvetica_roman";
}

@media (max-width: 991.9px) {
  .achivements .items {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 120px);
    grid-row-gap:1rem;
    
  }
  .achivements .items .item:nth-child(3):after{
    content: none !important;
  } 

}

@media (max-width: 767.9px) {
  .achivements .items {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 120px);
    grid-row-gap:1rem;
    
  }
  .achivements .items .item:nth-child(3):after{
    content: "" !important;
  } 
  .achivements .items .item:nth-child(2):after{
    content: none !important;
  } 

}

@media (max-width: 575.9px) {
  .achivements .items {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 120px);
    grid-row-gap:1rem;
  }

  .achivements .items .item:after{
    content: none !important;
  } 

  .achivements .items .item:nth-child(3):after{
    content: none !important;
  } 
}
/*====================== Subscription =======================*/
.subscription {
  background: #F8FBFF 0% 0% no-repeat padding-box;
  padding: 80px 0 60px;
  position: relative;
}
.subscription::after{
  content: '';
  height: 518px;
  width: 12px;
  position: absolute;
  left: 0;
  top: 95px;
  background: #2E386B 0% 0% no-repeat padding-box;
  border-radius: 0px 10px 10px 0px;
  /* transform: translateY(-50%); */
}
.subscription .info {
  background: var(--main-color) 0% 0% no-repeat padding-box;
  border-radius: 10px 0px 0px 10px;
  color: #ffffff;
  padding: 50px 45px;
  text-align: left;
}
.subscription .info h2 {
  font: normal normal bold 42px/67px "bahij_Helvetica_bold";
  margin-bottom: 30px;
  letter-spacing: 2.1px;
}
.subscription .info p {
  font: normal normal normal 16px/30px "bahij_Helvetica_roman";
  max-width: 256px;
  margin-right: auto;
  text-align: justify;
}
.subscription .items {
  grid-template-columns: repeat(2, minmax(200px, 379px));
  grid-template-rows: repeat(1, 518px);
  grid-row-gap: 1em;
  grid-column-gap: 1em;
  align-items: center;
  position: relative;
  padding: 0 1.5rem;
}

.subscription .items .item {
  background: transparent linear-gradient(180deg, #ffffff 0%, #ffffff 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 8px 32px #30386814;
  border-radius: 10px;
  /* min-width: 315px; */
  position: relative;
  padding: 45px 30px 20px;
}
.subscription .items .item:first-child::before, .subscription .items .item:last-child::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 12px;
  border-radius: 10px 10px 0px 0px;
  top: 0;
  right: 0;
}
.subscription .items .item:first-child::before{
  background: #41EFCD 0% 0% no-repeat padding-box;
}
.subscription .items .item:last-child::before{
  background: #FFB6BD 0% 0% no-repeat padding-box;
}

.subscription .items .item .price_wrap {
  color: var(--main-color);;
  margin-bottom: 17px;
}
.subscription .items .item .price_wrap .price {
  font: normal normal 900 36px/48px "roboto_black";
  margin-left: 5px;
}
.subscription .items .item .price_wrap .currency {
  font: normal normal normal 18px/29px "bahij_Helvetica_roman";
}
.subscription .items .item h4{
  font: normal normal bold 24px/40px "bahij_Helvetica_bold";
  color: var(--main-color);
  border-bottom: 1px solid #30386814;
  padding-bottom: 30px;
}

.subscription .items .item .details {
  margin: 13px 0 14px;
}
.subscription .items .item .details ul{
  margin: 36px 0 50px;
}
.subscription .items .item .details ul li {
  font: normal normal normal 16px/26px "bahij_Helvetica_roman";
  color: var(--main-color);
  margin-bottom: 12px;
}
.subscription .items .item .details ul li:first-child{
  font: normal normal bold 16px/27px "bahij_Helvetica_bold";
}
.subscription .items .item .details ul li:before { 
  content: "\2714\0020";
  color: #41EFCD;
  font-weight: 900;
  margin-left: 6px;
  font-size: 18px;
 } 
.subscription .items .item .details a {
  display: block;
  text-align: center;
}

/* mobile */
@media (max-width: 991.9px) {
  .subscription .items {
    grid-template-columns: repeat(1, minmax(200px, 379px));
    align-items: right;
  }

  .subscription .info p {
    text-align: right;
    margin-right: 0;
    max-width: none;
  }
  .subscription .info {
    text-align: right;
  }

  .subscription::after{
    top: 50%;
    transform: translateY(-50%);
  }

}

@media (max-width: 767.9px) {
  .subscription .items {
    margin-top: 50px;
    grid-template-columns: repeat(2, minmax(200px, 379px));
  }
  .subscription::after{
    top: 40%;
    transform: none
  }

}

@media (max-width: 575.9px) {
  .subscription .items {
    /* margin-top: 50px; */
    grid-template-columns: repeat(1, minmax(200px, 379px));
    justify-content: center;
    /* align-items: right; */
  }
  /* .subscription .info p {
    text-align: right;
    margin-right: 0;
    max-width: none;
  }
  .subscription .info {
    text-align: right;
  } */


}





/* =====================  What They Say  ======================== */
.what_say {
  background: #f8fbff 0% 0% no-repeat padding-box;
  padding: 80px 0 50px;
}
.what_say .heading {
  text-align: center;
  margin-bottom: 50px;
}
.what_say .heading h2 {
  font: normal normal bold 42px/67px "bahij_Helvetica_bold";
  color: var(--main-color);
  position: relative;
}
.what_say .heading h2::after{
  position: absolute;
  content: "“";
  left: 50%;
  width: 299px;
  height: 0;
  font-size: 400px;
  opacity: 0.08;
  transform: translate(-50%, -50%);
  top: 127%;
}



.what_say .what_say_slider .item {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 8px 32px #30386814;
  border-radius: 10px;
  padding: 40px 25px;
}
.what_say .what_say_slider p {
  font: normal normal normal 16px/30px "bahij_Helvetica_roman";
  color: #2E386BBF;
  margin-bottom: 15px;
}
.what_say .what_say_slider h3 {
  font: normal normal normal 18px/29px "bahij_Helvetica_roman";
  color: var(--main-color);
}




/* =====================  Common Questions  ======================== */

.common_ques {
  background: #f8fbff 0% 0% no-repeat padding-box;
  padding: 80px 0 50px
}
.common_ques .heading {
  text-align: center;
  margin-bottom: 50px;
}
.common_ques .heading h2{
  font: normal normal bold 42px/67px 'bahij_Helvetica_bold';
  color: var(--main-color);;
}
.common_ques .ques {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.common_ques .ques .que {
  margin-bottom: 20px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 0px #d3d5e2;
  border: 1px solid #d3d5e2;
  border-radius: 10px;
  padding: 20px;
  max-width: 700px;
}

.common_ques .ques .que h2 {
  font: normal normal bold 16px/27px "bahij_Helvetica_bold";
  color: var(--main-color);;
}
.common_ques .ques .que p {
  font: normal normal normal 16px/30px "bahij_Helvetica_roman";
  color: #2E386BBF;
  margin-top: 14px;
}

.common_ques .start {
  text-align: center;
  margin-top: 50px;
}
.common_ques .start h3 {
  font: normal normal normal 36px/58px "bahij_Helvetica_roman";
  color: var(--main-color);;
}

.more_btn_link{
  font: normal normal bold 16px/27px "bahij_Helvetica_bold";
  color: #80AEFF;
}
.common_ques .start a {
  font: normal normal bold 16px/27px "bahij_Helvetica_bold";
  padding: 16px 58px;
  margin-top: 14px;
  display: inline-block;
}

/* mobile */
@media (max-width: 575.9px) {

}
/* =====================  Student activities  ======================== */

.student_activites {
  padding: 60px 0;
}
.student_activites .heading {
  text-align: center;
}
.student_activites .heading h2 {
  font: normal normal bold 42px/67px "bahij_Helvetica_bold";
  color: var(--main-color);;
}
.student_activites .heading a {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 0px #d3d5e2;
  border: 1px solid #d3d5e2;
  border-radius: 10px;
  font: normal normal normal 16px/67px "bahij_Helvetica_roman";
  color: var(--main-color);;
  margin-bottom: 40px;
  padding: 8px 8px;
}
.student_activites .student_activites_slider {
  margin-top: 30px;
}
