/* bootstrap */
/* @import url(bootstrap/dist/css/bootstrap-reboot.rtl.min.css); */
@import url(bootstrap/dist/css/bootstrap-grid.rtl.min.css);

/* html{
  scroll-behavior: smooth;
} */
body {
  text-align: right;
  direction: rtl;
}


/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius:1rem;
  box-shadow:inset 0 0 2.5px 2px rgba(0,0,0,.5)
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #28305b;; 
}



/* Colors */

:root {
  --main-color: #2E386B;
  /* --sec-color: #1e1e1e;
  --bg-color: #32466d;
  --white-color: #fff;
  --thr-color: #eb4137; */
}

/*============== Typography ============*/

@font-face {
  font-family: "bahij_Helvetica_bold";
  src: url("/fonts/BAHIJ_HELVETICA_NEUE_BOLD.TTF");
}
@font-face {
  font-family: "bahij_Helvetica_75_bold";
  src: url("/fonts/Bahij-Helvetica-Neue-75-Bold.ttf");
}
@font-face {
  font-family: "bahij_Helvetica_light";
  src: url("/fonts/BAHIJ_HELVETICA_NEUE_LIGHT.TTF");
}
@font-face {
  font-family: "bahij_Helvetica_roman";
  src: url("/fonts/BAHIJ_HELVETICA_NEUE_ROMAN.TTF");
}
@font-face {
  font-family: "bahij_Helvetica_55_roman";
  src: url("/fonts/helveticaneue-roman-55.otf");
}
@font-face {
  font-family: "andale_mono";
  src: url("/fonts/andale-mono.ttf");
}
@font-face {
  font-family: "roboto_black";
  src: url("/fonts/roboto.black.ttf");
}
@font-face {
  font-family: "roboto_regular";
  src: url("/fonts/roboto.regular.ttf");
}

/*======== RESETTING ===========*/
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: unset;
  text-decoration: none;
}

button:focus {
  outline: 0;
  border: 0 !important;
}

p {
  line-height: 1.5;
}

/* Classes */

.special_btn {
  font: normal normal bold 18px/30px "bahij_Helvetica_bold";
  color: var(--main-color);
  padding: 8px 37px;
  border-color: var(--main-color);
  border: 0;
  background: #ffd983 0% 0% no-repeat padding-box;
  box-shadow: 0px 12px 32px #ffc64552;
  border-radius: 30px;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.special_btn::before,
.special_btn::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-bottom: 90px solid var(--main-color);
    transition: all .5s;
}

.special_btn::before {
    right: -50px;
    border-right: 50px solid transparent;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.special_btn::after {
    left: -50px;
    border-left: 50px solid transparent;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.special_btn:hover::before {
    -webkit-transform: translateX(-35%);
    transform: translateX(-35%);
}

.special_btn:hover::after {
    -webkit-transform: translateX(40%);
    transform: translateX(38%);
}
.special_btn:hover span,
.special_btn:focus span {
    color: #fff;
    position: relative;
    z-index: 2;
}
.special_btn:hover{
  box-shadow: none;
}

/* what say */
.cus_what_say .swiper-slide-duplicate-prev,
.cus_what_say .swiper-slide-duplicate-next{opacity:0.5}

.cus_what_say .swiper-button-next, .cus_what_say .swiper-button-prev {
  cursor: pointer;
  border-radius: 100%;
  background: #80AEFF 0% 0% no-repeat padding-box;
  color: #FFF;
  opacity: .4;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.cus_what_say  .swiper-button-prev{
  right: 194px !important;
  left: auto;
}
.cus_what_say  .swiper-button-next{
  left: 194px !important;
  right: auto 
}

.cus_what_say  .swiper-button-next:after{
  background-image: url(/assets/arrow-left.svg);
}

.cus_what_say  .swiper-button-prev:after{
  background-image: url(/assets/arrow-right.svg);
}
.cus_what_say  .swiper-button-next:after, .cus_what_say  .swiper-button-prev:after{
  content: '';
  position: absolute;
  width: calc(100% - 24px);
  height: calc(100% - 24px);
  left: 50%;
  background-repeat: no-repeat;
  filter: invert(1);
  top: 50%;
  background-position: center center;
  transform: translate(-50%, -50%);
}

/* mobile */
@media (max-width: 767.9px) {

  .cus_what_say  .swiper-button-prev{
    right: 10% !important;
    left: auto;
  }
  .cus_what_say  .swiper-button-next{
    left: 10% !important;
    right: auto 
  }
}


/* Student activities */
/* .student_activites .swiper-slide{opacity:0.7} */
.student_activites .swiper-button-next, .student_activites .swiper-button-prev {
  border-radius: 100%;
  /* background: #80AEFF 0% 0% no-repeat padding-box; */
  color: #FFF;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}

.student_activites  .swiper-button-prev{
  right: 215px !important;
  left: auto;
}
.student_activites  .swiper-button-next{
  left: 194px !important;
  right: auto 
}

.student_activites  .swiper-button-next:after{
  background-image: url(/assets/angle-left.svg);
}

.student_activites  .swiper-button-prev:after{
  background-image: url(/assets/angle-right.svg);
}
.student_activites  .swiper-button-next:after, .swiper-button-prev:after{
  content: '';
  position: absolute;
  width: 80px;
  height: 40px;
  left: 50%;
  background-repeat: no-repeat;
  filter: invert(1);
  top: 50%;
  background-position: center center;
  transform: translate(-50%, -50%);
}

/* .student_activites  .swiper-pagination{
  position: relative;
}
.student_activites  .swiper-pagination .swiper-pagination-bullet{

} */


.student_activites .swiper-container-horizontal>.swiper-pagination-bullets,
.student_activites .swiper-pagination-custom,
.student_activites .swiper-pagination-fraction{bottom: 20px;}

.student_activites .swiper-pagination-bullet {
  opacity: .9;
  background: #FFFFFFA3 0% 0% no-repeat padding-box;
}

@media (max-width: 767.9px) {

  .student_activites  .swiper-button-prev{
    right: 10% !important;
    left: auto;
  }
  .student_activites  .swiper-button-next{
    left: 10% !important;
    right: auto 
  }
  
}



/* =========================== FULL APP  ==================*/
.wrap_app{
  background: transparent url('/assets/background.png') 0% 0% no-repeat padding-box;
  position: relative;
  overflow: hidden;
}
.wrap_app.memb main{
  padding: 80px 0 120px;
  position: relative;
  min-height: 85vh;
}

.wrap_app::after, .wrap_app::before{
  content: '';
  position: absolute;
}

.wrap_app.memb::before{
  right: -33px;
  bottom: -5px;
  width: 72px;
  height: 108px;
  background-image: url(/assets/2shape.svg);
}
.wrap_app.memb::after{
  left: -80px;
  bottom: 14px;
  width: 169px;
  height: 141px;
  background-image: url(/assets/banner_shape.svg);
}


.wrap_app.memb main::before{
  content: '';
  position: absolute;
  right: 28%;
  bottom: 6px;
  width: 67px;
  height: 68px;
  background-image: url(/assets/flower.svg);
}

.wrap_app .agree_condtion{
  display: inline-block; margin-right: 9px;
}
.wrap_app .agree_condtion a{
font: normal normal normal 16px/26px "bahij_Helvetica_roman";
color: #80AEFF;
margin: 0 2px;
}
/*----------------------- Mobile -------------------*/

@media (max-width: 500px) {
/* h2{font-size: 30px !important;}
p{font-size: 20px !important;} */
}




/*========================== form global ======================*/

.password_wrap{
position: relative;
}

.password_wrap i{
  width: 18px;
  display: block;
  height: 0;
  cursor: pointer;
  position: absolute;
  left: 14px;
  top: 41px;
  color: #707070;
}

.invalid-feedback {
  width: 100%;
  color: #dc3545;
  padding: 7px 0;
  font: normal normal normal 14px/16px "bahij_Helvetica_roman";
}

input::placeholder, textarea::placeholder{
  font: normal normal normal 14px/22px "bahij_Helvetica_roman";
}

input:focus-visible , select:focus-visible , textarea:focus-visible {
  outline: 1px solid #2E386B;
  }


  /* profile */
  .profile{
    padding: 60px 60px 90px
  }
  @media (max-width:622.9px) {
    .profile{padding: 60px 20px 90px;}

}
@media (max-width:400.9px) {
  .profile{padding: 60px 15px 90px;}
}



/* STYLING AFTER Connecting API */
.back_data_package li {font: normal normal normal 16px/26px "bahij_Helvetica_roman" !important;}
.back_data_package li::before {content: none !important;}
.back_data_package li p img{width: 20px !important;height: 20px !important;margin-left: 6px}
.back_data_package li p{
  margin-bottom: 12px;
  display: flex;align-items: center;
}
.back_data_package li p:first-child{font: normal normal bold 16px/27px "bahij_Helvetica_bold";}



/* alert confirm */
.react-confirm-alert-body{text-align: right;}